

.header {
  background-color: lightblue;
  padding-block: 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding: 20px 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
  }
}
