:root {
  // Задать согласно высоте шапки, чтоб меню не залазило под шапку
  // Относительно этой величины рассчитывается высота мобильного меню, чтоб можно было скроллить
  --offsetHeight: 98px;
}

.menu {
  @media screen and (max-width: $burgerBreakPoint) {
    position: fixed;
    top: var(--offsetHeight);
    left: 0;
    width: 100%;
    height: calc(100% - var(--offsetHeight));
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }

  &__list {
    display: flex;
    gap: 0 10px;

    @media screen and (max-width: $burgerBreakPoint) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      overflow-y: auto;
    }
  }

  // &__item {
  // }

  &__link {
    padding: 15px 20px;
    color: black;
    font-size: 20px;
    text-decoration: none;

    @media screen and (max-width: $burgerBreakPoint) {
      font-size: 30px;
    };
  }

  &-active {
    transform: translate(0);
  }
}
