<nav
      class="menu"
      title="Navigation menu"
      data-menu>
      <ul class="menu__list">
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="#"
            class="menu__link"
            >Option 1</a
          >
        </li>
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="#"
            class="menu__link"
            >Option 2</a
          >
        </li>
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="#"
            class="menu__link"
            >Option 3</a
          >
        </li>
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="#"
            class="menu__link"
            >Option 4</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Open menu"
      aria-expanded="false"
      data-burger>
      <div class="burger__icon"></div>
    </button>
